---
import Button from "./ui/Button.astro";
---

<section
  class="max-w-5xl mx-auto mt-16 bg-yellow-300 border-4 border-black rounded-lg shadow-[8px_8px_0px_0px_#000] p-12 text-center space-y-6"
>
  <h2 class="text-3xl font-extrabold">Tired of CORS errors?</h2>
  <p class="text-lg max-w-xl mx-auto">
    Corsfix enables you to fetch any API without getting CORS issues, allowing
    you to focus on building your application.
  </p>
  <Button href="https://corsfix.com" size="lg" variant="default">
    Try Corsfix free
  </Button>
</section>
