<footer class="text-center py-8 text-sm text-gray-600">
  <p>
    CORS Headers Explained by <a
      href="https://corsfix.com"
      class="text-blue-600 hover:text-blue-800 hover:underline">Corsfix</a
    >. Content licensed under CC BY-SA. <a
      href="https://github.com/corsfix/cors-headers"
      class="text-blue-600 hover:text-blue-800 hover:underline"
    >
      Source Code</a
    >.
  </p>
</footer>
