---
import "../styles/global.css"; // Corrected path

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const canonical = new URL(Astro.site || "");
canonical.pathname = Astro.url.pathname.replace(/\.html$/, "");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="canonical" href={canonical.toString()} />
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="df23c0f7-68fb-415c-91e7-5262eb2722a4"></script>
  </head>
  <body class="bg-[#f7f7f7]">
    <slot />
  </body>
</html>
